<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFF2qJh7-m06zjik4B9VpflRkPBg2fn8I</string>
	<key>GCM_SENDER_ID</key>
	<string>923059500041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationTest1</string>
	<key>PROJECT_ID</key>
	<string>learnapplication-f2c26</string>
	<key>STORAGE_BUCKET</key>
	<string>learnapplication-f2c26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923059500041:ios:81b34368373bee576cb4d8</string>
</dict>
</plist>